
.td-btn {
    margin: 0.65rem;
    padding: 0.65rem 1.25rem;
    
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.4s ease;

    &__primary {
        background-color: $color-primary;
        border-color: $color-primary;
    
        &:hover {
            background-color: white;
            border-color:$color-primary; 
            color: $color-primary;
        }

        &--small {
            margin: 0;
            padding: 0.30rem 0.7rem;

            background-color: $color-secondary;
            color: $color-white;
            border-color: $color-white;
            font-size: 1rem;
            font-weight: 500;

            &:hover {
                background-color: white;
                border-color: $color-secondary; 
                color: $color-secondary;
            }
        }
    }

    &__secondary {
        background-color: $color-secondary;
        border-color: $color-secondary;
    
        &:hover {
            background-color: white;
            border-color: $color-secondary; 
            color: $color-secondary;
        }
    }
}


