
$color-primary: #FBCA00;
$color-secondary: #259baa;
$color-black: #000;
$color-white: #FFF;

$color-text: #2c2c2c;

/* icones réseaux sociaux */

$color-social-fcb: #408fb8;
$color-social-twitter: #5ebbf6;
$color-social-youtube: #cb3030;
$color-social-instagram: #ca3e9c;

/* box shadow */

$box-shadow-img: 0 5px 15px -8px rgba(0,0,0,0.24), 0 8px 10px -5px rgba(0,0,0,0.2);

