.article {

    &-hero {

        &__img {
            height: 30vh;

            @include responsive(md) {
                height: 20vh;
                margin-top: 2rem;
            }
        }
    }

    .main {
        margin-bottom: 2rem;
    }

    &-content {

        &__presentation {
            margin-bottom: 3rem;

            @include responsive(sm) {
                text-align: center;
            }
        }

        &__review {
            margin-bottom: 3rem;
            padding: 30px;
            background-image: linear-gradient(230deg, rgba($color-black, 0.7) 0%, rgba($color-black, 0.9)),url(../images/newsletter.jpg);
            background-position: top;
            background-size: cover;
            border-radius: 10px;
        }

        &__img {
            height: 12rem;
            max-width: 250px;
            object-fit: contain;
            margin: 0 auto;

            @include responsive(md) {
                height: 8rem;
            }
            @include responsive(sm) {
                height: 12rem;
            }

            &--small {
                margin: 1.5rem 0; 
            }
        }

        &__title {
            font-size: 1.3rem;
            font-weight: 600;
        }

        &__info {
            font-size: 1.2rem;

            span {
                font-size: inherit;
                color: rgba(255, 0, 0, 0.644);
                margin-left: 10px;
            }
        }

        &__supplement {
            margin-top: 1rem;
            padding: 10px;
            background: #f0f0f0;
            color: $color-secondary;
            font-weight: bold;
        }

        &__item {
            margin-left: 1rem;
            color: $color-text;
            font-weight: normal;
            
            span {
                font-size: 1.1rem;
            }
        }

        &__star {
            fill: $color-secondary;
        }

        &__form {
            color: $color-white;
        }
    }
}