.footer {
    height: 70px;
    width: 100%;
    color: $color-text;

    .copyright {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 10px;
    }

    .social {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__icon {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

/* =============== LOGIN =============== */

.page-login {
    .footer {
        .logo {
            margin-left: 35px;

            @include responsive(xs) {
                margin: 0;
            }
        }
        .social {
            padding-right: 45px;

            @include responsive(xs) {
                padding: 0 0 10px 0;
            }
        }
    }
}

/* =============== DASHBOARD =============== */

.dashboard {
    .footer {
        padding-top: 0.5rem;

        background: #ebebeb;

        .logo {
            padding-left: 40px;
        }
        .social {
            padding-right: 45px;
        }
    }
}