/* =============== CLIENT =============== */

.client {
    padding: 10px 30px 30px 30px;
    background: linear-gradient(to bottom, $color-black 100vh, #FBCA00);

    @include responsive(md) {
        padding: 20px;
    }

    .main {
        margin-top: 5vh;
        background: $color-white;
        border-radius: 15px;
        padding-top: 60px;
        overflow: hidden;
    }
}

/* =============== PAGE CONNEXION =============== */

.page-login {
    background: linear-gradient(to bottom, $color-black 40vh,  $color-primary 70vh, $color-primary);
    height: 100vh;
    overflow: hidden;
}

/* =============== DASHBOARD =============== */

.dashboard {
    font-weight: 600;

    &__content {
        display: block;
        margin-top: 0.5rem;
    }
    .construction-page {
        height: calc(100vh - 70px);

        &__text {
            @include responsive(md) {
                padding-left: 40px;
                padding-right: 40px;

                h2 {
                    font-size: 1.75rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}