/* =============== NEWSLETTER =============== */

.news {
    color: white;
    background-image: linear-gradient(105deg, rgba($color-black, 0.8) 0%, rgba($color-black, 0.8) 50%, transparent 50%),url(../images/newsletter.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    box-shadow: $box-shadow-img;
    margin: 50px auto;
    width: 75vw;

    @include responsive(md) {
        background-image: linear-gradient(105deg, rgba($color-black, 0.8) 0%, rgba($color-black, 0.8) 70%, transparent 50%),url(../images/newsletter.jpg);
    }
    @include responsive(sm) {
        background-image: linear-gradient(0deg, rgba($color-black, 0.8) 0%, rgba($color-black, 0.8) 100%, transparent 50%),url(../images/newsletter.jpg);
    }

    &__form {
        width: 50%;
        padding: 10px 50px;

        @include responsive(md) {
            width: 80%;
        }
        @include responsive(sm) {
            width: 100%;
        }

        &-label {
            @include responsive(md) {
                font-size: 1rem;
            }
            @include responsive(sm) {
                font-size: 1rem;
            }
        }

        &-heading {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
}
